<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GOOGLE_PLACES</key>
	<string>AIzaSyDdCfnBVoTsIN_mNVVveFE0uEamxBZnf7g</string>
	<key>OPEN_WEATHER</key>
	<string>65d00499677e59496ca2f318eb68c049</string>
</dict>
</plist>
